
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans> {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.first-nav{

    display:flex;
    justify-content:space-between;
    align-items:center;
    margin: 63px 0 0 1203px;
}
nav ul{
  list-style: none;
  display:flex;
  align-items:center;
  
 
  
}
nav ul li a{
  text-decoration: none;
}